body{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin: 0px;
}
.navi {
    display: block;
    width: 100%;
    background-color:#007765;
    height: 83px;
}
.logo {
    float: left;
    
}
.menu {
    float: right;
    padding-right: 50px;
  }
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
  }
.menu li {
    display: inline-block;
    font-size: 24px;
    padding-right: 8px;
    
  }
.menu a {
    text-decoration: none;
    line-height: 83px;
    color: white;
}
.kv  {
    
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.problem .kv {
    background: url('images/image.png');
    height: 403px;
}
.headline_text  {
    font-size: 72px;
    color: white;
}
.text_block {
    background-color: #EEEEEE;
    height: 719px;
    width: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
 .text_block .headline_text p {
    color: #007765;
    font-size: 64px;
    margin: 0;
    padding-top: 48px;
}
.description_text {
    font-size: 32px;
    width: 60%;
}
.hero .kv {
    background: url('images/image-1.png');
    height: 483px;
}
.hero .headline_text {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    font-style: italic;
    width: 893px;

}

.ppc {
    background-color: #FFFFFF;
    height: 719px;
    width: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ppc .headline_text p {
    color: #007765;
    font-size: 64px;
    margin: 0;
    padding-top: 48px;
}

.ppc figure {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
}
.team {
    background-color: #EEEEEE;
    height: 845px;
    width: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.team .headline_text p{
    color: #007765;
    font-size: 64px;
    margin: 0;
    padding-top: 58px;
}
.members ul {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}
.team li {
    flex: 0 0 33.333333%;
    padding-top: 30px;
}
.team .members .name p {
    font-size: 24px;
    color: #007765;
    line-height: 28px;
    margin: 0;
    text-align: center;
}
.team .members .position p {
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    text-align: center;
}
.team figure {
    text-align: center;
}
.footer {
    background-color: #333333;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer p {
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: center;
color: white;
width: 540px;
}